body{margin:0%}

html{
    scroll-behavior:smooth;
    }

a:link{color:white; text-decoration:none}
a:visited{color:white; text-decoration:none}
a:hover{text-decoration:none}
a:active{}

#bg
{
    width:100%;
    position:fixed;
    z-index:-3;  
}
#bar
{
    width:100%;
    backgound:red;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    position:fixed;
    z-index:3;
    backdrop-filter:blur(10px);
}
#logo
{
    width:12%;
    backgrund:teal;
    margin-left:23%;
}
#nave
{
    width:40%;
    backgrund:pink;
    margin-right:22%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#top
{
    with:15%;
    backgrond:orange;
    height:35%;
    margin-top:4%;
    color:white;
    text-align:center;

}

#main
{
    width:90%;
    hight:550px;
    margin:auto;
    bckground:cyan;
    border-radius:45px 0px;
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    backdrop-filter:blur(10px);
}
#ttt
{
    
}
#project
{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

}
#head
{
    width:30%;
    backgound:blue;
    margin:auto;
    text-align:center;
    box-shadow:0px 0px 20px cyan;
    border-radius: 20px 0px;
    color:white;
    backdrop-filter:blur(10px);
}
#proj
{
    width:14%;
    margin:auto;
    border-radius:50%;
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    cursor:pointer;
    transition:0.50s;
}
#proj:hover
{
    transform:scale(1.10) ;
}
#info
{
    width:90%;
    heght:350px;
    backround:red;
    margin:auto;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    cursor:pointer;
}
#infoin
{
    width:45%;
    heght:350px;
    backgound:cyan;
    border-radius:45px 0px;
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    color:white;
    backdrop-filter:blur(5px);
    padding:20px;
    font-size:18px;
    transition:0.50s;
}
#infoin:hover
{
    transform:scale(1.10) ;
}
#infoin2
{
    width:43%;
    heiht:350px;
    backgound:cyan;
    backdrop-filter:blur(5px);
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    border-radius: 0px 45px 0px 45px;
    padding:20px;
    font-size:18px;
    color:white;
    transition:0.50s;
}
#infoin2:hover
{
    transform:scale(1.10) ;
}
#infoin3
{
    width:43%;
    heig-ht:350px;
    backgound:cyan;
    backdrop-filter:blur(5px);
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    border-radius:0px 45px 0px 45px;
    padding:20px;
    font-size:18px;
    color:white;
    filter: drop-shadow(0px 0px 15px white);
    transition:0.50s;
}
#infoin3:hover
{
    transform:scale(1.10) ;
}
#phases
{
    width:90%;
    hight:300px;
    margin:auto;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#ph
{
    width:18%;
    heiht:300px;
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    filter: drop-shadow(0px 0px 15px white);
    cursor:pointer;
    transition:0.50s;
}
#ph:hover
{
    transform:scale(1.10) ;
}



#about
{
    width:90%;
    heght:200px;
    bacground:green;
    margin:auto;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#abo
{
    width:13%;
    backgrund:pink;
    padding:7px;
    color:white;
    backdrop-filter:blur(5px);
    border: cyan solid 2px;
    box-shadow:0px 0px 20px cyan;
    border-raius:15px 0px;
    cursor:pointer;
}
#abo:hover
{
    text-decoration:underline;
}
.bo
{
    font-size:20px;
}

#see
{
    width:90%;
    bacground:cornflowerblue;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#seemore
{
    width:15%;
    color:cyan;
    backgrund:yellowgreen;
    adding:3px;
    text-align:center;
    
    
}